<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="ACPi">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adin Ballew">
    <title>{{title}}</title>
    {{>css}}
</head>
<body>
<div id="wrapper" class="container-fluid">
    {{>navbar}}
    {{{body}}}
</div>
{{>js}}
</body>
</html>