{{!< default}}
<div class="row">
    <div class="col">
        {{! Temp and Humidity }}
        <h1 class="text-center">Temperature: <span id="envTemp">0</span>°F</h1>
        <p class="text-center">Humidity: <span id="envHum">0</span>%</p>

        {{! Radio AC Settings }}
        <div class="funkyradio">
            <div class="funkyradio-primary">
                <input type="radio" name="radio" id="radio1"/>
                <label for="radio1">Cool</label>
            </div>
            <div class="funkyradio-primary">
                <input type="radio" name="radio" id="radio2"/>
                <label for="radio2">Heat</label>
            </div>
            <div class="funkyradio-primary">
                <input type="radio" name="radio" id="radio3"/>
                <label for="radio3">Off</label>
            </div>
        </div>

        <div class="auto-slider">
            <label class="switch" for="toggleAuto">
                <input type="checkbox" id="toggleAuto">
                <span class="slider-round"></span>
            </label>
            <label style="font-size: 14px; position: relative; top: 10px;" >Auto</label>
        </div>

        {{! Desired Temperature Slider }}
        <h3 style="margin-top: .5em">Desired Temperature: <span id="desired-temp"></span></h3>
        <div class="slidecontainer">
            <label for="acDesiredTempSlider"></label>
            <input type="range" min="1" max="100" class="slider" id="acDesiredTempSlider">
        </div>

        <br><br>

        {{! Current State of AC }}
        <p class="text-center" style="text-transform: capitalize">Setting: <span id="acSetting"></span></p>
        <p class="text-center">Desired Temp: <span id="acDesiredTemp"></span></p>
        <p class="text-center" style="text-transform: capitalize">Running: <span id="acRunning"></span></p>
        <p class="text-center">Count Down: <span id="acCountdown"></span></p>
    </div>


    <div class="col-md-9">
        <div class="container-fluid">
            {{! Chart 1 }}
            <h1 id="date" style="text-align: start">Date: </h1>
            <div class="row">
                <div class="col-sm-auto">
                    <div class="chart-container" style="position: relative; width: 32vw; margin: auto;">
                        <canvas id="chart1"></canvas>
                    </div>
                </div>
                {{! Chart 2 }}
                <div class="col-sm-auto">
                    <div class="chart-container" style="position: relative; width: 32vw; margin: auto;">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
                {{! Chart 3 }}
                <div class="col-sm-auto">
                    <div class="chart-container" style="position: relative; width: 32vw; margin: auto;">
                        <canvas id="chart3"></canvas>
                    </div>
                </div>
                {{! Chart 4 }}
                <div class="col-sm-auto">
                    <div class="chart-container" style="position: relative; width: 32vw; margin: auto;">
                        <canvas id="chart4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/chart.js/Chart.min.js"></script>
<script src="/javascripts/socket.io/socket.io.js"></script>
<script src="/javascripts/charts.js"></script>
<script src="/javascripts/main.js"></script>
