{{!< default}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="recent-table"></div>
        </div>
    </div>
</div>

<script src="/javascripts/socket.io/socket.io.js"></script>
<script src="javascripts/moment/moment.min.js"></script>
<link href="/stylesheets/tabulator/tabulator_bootstrap4.min.css" rel="stylesheet">
<script type="text/javascript" src="javascripts/tabulator/tabulator.min.js"></script>
<script src="javascripts/tabulator.js"></script>

