{{!< default}}
<div id="recent-table"></div>

<link href="javascripts/tabulator/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="javascripts/tabulator/tabulator.min.js"></script>
<script src="javascripts/tabulator.js"></script>

